extends layout

block content
  //- p= data
  //- p I am a sentence with #{data} in the middle

  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Data
      p See how facial analysis has scored up amongst various users.
    // CONTENT
    .row.text-left.greybackground.paddingbottom
      .col-sm-12.bluebackground
        h2.whitecolor.bluebackground Overview
      .col-sm-4
        h2 Total Usage
        // p Usernames Entered - #{usersTested}
        p Scenarios Tested - #{scenariosTested}
      .col-sm-4
        h2 Total Feedback
        p.greencolor It all worked well - #{scenariosWell}
        p.orangecolor Some of it worked - #{scenariosSome}
        p.redcolor None of it worked - #{scenariosNone}
      .col-sm-4
        h2 Total Potential
        p.greencolor Yes - #{scenariosYes}
        p.redcolor No - #{scenariosNo}
    br
    .row.text-left.greybackground.paddingbottom
      .col-sm-4
        h2 A Helping Hand
        p Scenarios Tested - #{scenario1Tested}
        h3 Feedback
        p.greencolor It all worked well - #{scenario1Well}
        p.orangecolor Some of it worked - #{scenario1Some}
        p.redcolor None of it worked - #{scenario1None}
        h3 Potential
        p.greencolor Yes - #{scenario1Yes}
        p.redcolor No - #{scenario1No}
      .col-sm-4
        h2 Pull That Face!
        p Scenarios Tested - #{scenario2Tested}
        h3 Feedback
        p.greencolor It all worked well - #{scenario2Well}
        p.orangecolor Some of it worked - #{scenario2Some}
        p.redcolor None of it worked - #{scenario2None}
        h3 Potential
        p.greencolor Yes - #{scenario2Yes}
        p.redcolor No - #{scenario2No}
      .col-sm-4
        h2 Matters of Privacy
        p Scenarios Tested - #{scenario3Tested}
        h3 Feedback
        p.greencolor It all worked well - #{scenario3Well}
        p.orangecolor Some of it worked - #{scenario3Some}
        p.redcolor None of it worked - #{scenario3None}
        h3 Potential
        p.greencolor Yes - #{scenario3Yes}
        p.redcolor No - #{scenario3No}
    .row
      a.btn.btn-primary.btn-lg.bluebackground(href='/', role='button') Return to Scenario Selection