extends layout

block content
  //- p= data
  //- p I am a sentence with 
         b #{data} in the middle

  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Data
      p See how facial analysis has scored up amongst various users.
    // CONTENT
    .row.text-left.panel.greybackground.paddingbottom
      .col-sm-12.panel.bluebackground
        h2.whitecolor Overview
      .col-sm-4
        h2 Total Usage
        // p Usernames Entered - 
         b #{usersTested}
        p Scenarios Tested - 
         b.bluecolor #{scenariosTested}
      .col-sm-4
        h2 Total Feedback
        p It all worked well - 
         b.greencolor #{scenariosWell}
        p Some of it worked - 
         b.orangecolor #{scenariosSome}
        p None of it worked - 
         b.redcolor #{scenariosNone}
      .col-sm-4
        h2 Total Potential
        p Yes - 
         b.greencolor #{scenariosYes}
        p No - 
         b.redcolor #{scenariosNo}
    br
    .row.text-left.paddingbottom
      .col-sm-4.panel.greybackground
        h2 A Helping Hand
        p Scenarios Tested - 
         b.bluecolor #{scenario1Tested}
        h3 Feedback
        p It all worked well - 
         b.greencolor #{scenario1Well}
        p Some of it worked - 
         b.orangecolor #{scenario1Some}
        p None of it worked - 
         b.redcolor #{scenario1None}
        h3 Potential
        p Yes - 
         b.greencolor #{scenario1Yes}
        p No - 
         b.redcolor #{scenario1No}
      .col-sm-4.panel.greybackground
        h2 Pull That Face!
        p Scenarios Tested - 
         b.bluecolor #{scenario2Tested}
        h3 Feedback
        p It all worked well - 
         b.greencolor #{scenario2Well}
        p Some of it worked - 
         b.orangecolor #{scenario2Some}
        p None of it worked - 
         b.redcolor #{scenario2None}
        h3 Potential
        p Yes - 
         b.greencolor #{scenario2Yes}
        p No - 
         b.redcolor #{scenario2No}
      .col-sm-4.panel.greybackground
        h2 Matters of Privacy
        p Scenarios Tested - 
         b.bluecolor #{scenario3Tested}
        h3 Feedback
        p It all worked well - 
         b.greencolor #{scenario3Well}
        p Some of it worked - 
         b.orangecolor #{scenario3Some}
        p None of it worked - 
         b.redcolor #{scenario3None}
        h3 Potential
        p Yes - 
         b.greencolor #{scenario3Yes}
        p No - 
         b.redcolor #{scenario3No}
    .row
      a.btn.btn-primary.btn-lg.bluebackground(href='/home', role='button') Return to Scenario Selection